*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flag{
  width: 30px;
  height: 20px;
  object-fit: cover;
}

header{
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  z-index: 1;
}

.card{
  min-height: 440px;

  .details{
    display: none;
  }
}